{% extends "base.html" %} {% block title %}django-todo{% endblock %}

{% block content %}

    {% if user.is_authenticated and user.is_staff %}
        <h1>Welcome, Employee.</h1>
        <div id="widgetmain"
             style="text-align:left;overflow-y:auto;overflow-x:hidden;width:200px;background-color:#transparent; border:1px solid #333333;">
            <div id="rsswidget" style="height:500px;">
                <iframe src="http://us1.rssfeedwidget.com/getrss.php?time=1566009974375&amp;x=http%3A%2F%2Frss.news.yahoo.com%2Frss%2Ftopstories&amp;w=200&amp;h=500&amp;bc=333333&amp;bw=1&amp;bgc=transparent&amp;m=20&amp;it=true&amp;t=(default)&amp;tc=333333&amp;ts=15&amp;tb=transparent&amp;il=true&amp;lc=0000FF&amp;ls=14&amp;lb=false&amp;id=true&amp;dc=333333&amp;ds=14&amp;idt=true&amp;dtc=284F2D&amp;dts=12"
                        border="0" hspace="0" vspace="0" frameborder="no" marginwidth="0" marginheight="0"
                        style="border:0; padding:0; margin:0; width:200px; height:500px;" id="rssOutput">Reading RSS
                    Feed ...
                </iframe>
            </div>
        </div>
    {% else %}
        <h1>Welcome to the BinBubble Ticket System!</h1>

        <p>
            You have been invited to file a ticket for your custom website. If you would like to file a ticket please
            select the file ticket button from the top of the navigation panel.
        </p>

        <div class="card mt-4">
            <div class="card-header">
                <h5>
                    Rules
                </h5>
            </div>
            <div class="card-body">
                <p>
                    Please direct any questions to <a href="mailto:contactus@binbubble.com">contactus@binbubble.com</a>
                </p>
                <ul>
                    <li>
                        If you forgot your login information that was provided please direct your query with the project
                        name to <a href="mailto:contactus@binbubble.com">contactus@binbubble.com</a>.
                    </li>
                    <li>
                        Please allow up to 72hours during standard business hours to process a ticket.
                    </li>

                </ul>
                <p>
                    {% if user.is_authenticated %}
                        You are already logged in.
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
                    {% endif %}
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
